<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			<remove name="WebDAV" />
		</handlers>
		<staticContent>
			<mimeMap fileExtension=".nupkg" mimeType="application/zip" />
		</staticContent>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="WebDAVModule" />
		</modules>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="31457280" />
			</requestFiltering>
		</security>
	</system.webServer>
	<appSettings>
		<add key="requireApiKey" value="true" />
		<add key="apiKey" value="" />
		<add key="packagesPath" value="" />
		<add key="cacheFileName" value="" />
		<add key="allowOverrideExistingPackageOnPush" value="false" />
		<add key="ignoreSymbolsPackages" value="true" />
		<add key="enableDelisting" value="false" />
		<add key="enableFrameworkFiltering" value="false" />
		<add key="enableFileSystemMonitoring" value="true" />
		<add key="allowRemoteCacheManagement" value="false" />
		<add key="initialCacheRebuildAfterSeconds" value="15" />
		<add key="cacheRebuildFrequencyInMinutes" value="60" />
	</appSettings>
	<system.web>
		<httpRuntime maxRequestLength="30720" targetFramework="4.8"/>
		<compilation debug="true" targetFramework="4.8" />
	</system.web>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
